*{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 12px;
}

body{
    background-image:url(kepek/hatter.jpg);
    background-repeat: repeat-x;
    background-position-x: center;
    background-position-y: top;
    background-attachment: fixed;
    background-size: 100vh;
    

}

.frame{
    box-shadow: 0px 0px 16px rgba(4, 47, 65, 0.66);
        width: 75%;
    max-width: 880px;
    margin: auto;
    min-height:90vh;
    border-radius: 12px 12px 12px 12px;

}

main{
    display: block;
    background-color: aliceblue;
    width: 100%;
    max-width: 880px;
    margin: auto;
    min-height:90vh;
    border-radius: 12px 12px 0px 0px;
    overflow: hidden;

}

header{
    background-image:url(kepek/fejlec.jpg);
    padding: 30px;
}

h1 {
    text-align: center;
    color: aliceblue;
    text-shadow: 0px 0px 8px rgba(4, 47, 65, 0.66);
    font-size: 24px;
}

h2 {
    text-align: center;
    color:rgb(5, 135, 179);
    font-size: 16px;
}


section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "n g g a a";
}

nav{ 
  grid-area: n;  
  row-gap: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  padding: 16px;
  height:fit-content;
}

nav a{
    min-width:100px;
    display: block;
    text-align: center;
    background-color:rgb(5, 135, 179);
    /*border-radius: 15px;*/
    clip-path: polygon(40% 0, 60% 0, 100% 40%, 100% 60%, 60% 100%, 40% 100%, 0 60%, 0 40%);

    list-style: none;
    color:aliceblue;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
    padding:5px;
    max-height: 40px;
}


.galeria_tablazat{
    grid-area: g;  

}

.galeria_tablazat img{
    max-width:120px;
    width: 100%; 
    height: 100px;
    object-fit: cover;
}

.galeria_tablazat div:nth-child(1), .galeria_tablazat div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    gap:16px;
    padding: 16px;
    margin:auto;
}


.polaroid_left {
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
  float: left;
  transform: rotate(-8deg);
    max-width:120px;
    width: 100%; 
    height: 100px;
}

.polaroid_right {
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
  float: left;
  transform: rotate(7deg);
    max-width:120px;
    width: 100%; 
    height: 100px;
}

table {
    border-collapse: collapse;
    padding-top:16px;
    margin-top: 16px;
}

th{
  background-color:rgb(179, 221, 255);  
  text-align: left;
}

th, td {
    padding: 5px;
    border-bottom: 1px solid rgb(5, 135, 179);
}

tr:nth-child(even) {
    background-color:rgb(179, 221, 255);
}

article{
    grid-area: a;  
    padding: 16px;
}

p {
    text-align: center;
}


footer {
    text-align: center;
    background-color:rgb(5, 135, 179);
    color: aliceblue;
    width: 100%;
    max-width: 880px;
    margin: auto;
    border-radius: 0px 0px 12px 12px;
    padding: 16px 0px 16px 0px;
}

.empty_space {
    height: 3vh;
    width: 100%;
    display: block;
}